*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    gap:30%;
    height:30%;
    padding:2%;
    justify-content: space-between;
    position: sticky;
    text-align: center;
    top:0;
    background-color: white;
    font-size: 18px;
    font-family:'Karma';
}
.icon{
    cursor: pointer;
}
.footer{
    display: flex;
    gap:2%;
    justify-content: center;
    font-size: 18px;
}
.main-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
h3{
    font-family: 'Karma';
    margin:10px 0;
}
p{
    font-family: 'Karma';
    margin: 10px;
}
.container{
    text-align: center;
    flex-basis:100%;
    margin: 4px;
}
img{
    width:100%;
}
@media screen and (width >= 600px) {
    .container{
        flex:1 1 22%;
    }
h3{
    font-size: 22px;
}
header{
    display:flex;
    gap:30%;
    height:30%;
    padding:2%;
    justify-content: space-between;
    position: sticky;
    text-align: center;
    top:0;
    background-color: white;
    font-size: 22px;
}
}
header>#icon:hover{
    background-color: gray;
}
.footer>span:hover{
    background-color: black;
    color: white;
    padding: 15px;
}